<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Milk</title>
    <link rel="stylesheet" href="/css/buy.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
    <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
    <div class="sidebar">
                
        <a  href="dashboard">DASHBOARD</a>
        <a class="active" href="#news">BUY</a>
        <a href="ordershistory">ORDERS HISTORY</a>
        <a href="clientprofile">PROFILE</a>
        <a href="/client/logout">LOGOUT</a>
    </div>

    <div class="buybox">
        <div class="buy">
            <form action="/client/buy" method="post">
            <label for="milkamt">MILKAMT:</label><br>
            <input type="number" name="milkamt" id=""><br><br>
            <button type="submit">Buy</button>
            </form>
            <span><%= locals.stock  %> </span>
        </div>
    </div>
    </div>
</body>
</html>