.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.26fr 1fr 1fr 1fr;
    grid-template-areas: "topbar topbar topbar topbar topbar topbar"
    "content content content content leftsidebar leftsidebar"
    "sales sales farmersellhistory farmersellhistory clientsellhistory clientsellhistory"
    "sales sales farmersellhistory farmersellhistory clientsellhistory clientsellhistory"
    ;
    grid-gap:1rem;
}

.topbar{
    grid-area: topbar;
    /* background-color:aqua; */
}

.leftsidebar{
    grid-area: leftsidebar;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tmp{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}
.p{
    display: block;
    font-size:larger;
    padding-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifz;
}
.pt{
    display: block;
    padding-left: 30px;
    font-size:small;
}
.content{
    grid-area: content;
    background-color:rgb(223, 251, 251);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.contentbox{
    height: 100px;
    width: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 2px solid black; */
    background-color: white;
}

#sales{
    grid-area: sales;
    /* background-color:black; */
    /* height: 55vh; */
    display: flex;
    align-items: center;
    background-color:rgb(223, 251, 251);
    
}
.statsbox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}
.farmersellhistory{
    grid-area: farmersellhistory;
    /* background-color:blueviolet; */
    /* height: 55vh; */
    
}
.clientsellhistory{
    grid-area:clientsellhistory;
    /* background-color:brown; */
    /* height: 55vh; */
    
}
#table1{
    background-color: rgb(104, 195, 195);
}
#table2{
    background-color: rgb(164, 255, 225);
}
.contentvalues{
    padding-left: 150px;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.stats{
    height: 100px;
    width: 180px;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}